{% extends 'layout.html' %}
{% block content %}

{% include '_messages.html' %}

{% include 'admin/_navbar.html' %}

<div class="container mt-5">
    <table class="table table-sa table-condensed table-striped table-hover">
        <thead>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {% if brands %}
            {% for brand in brands %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{brand.name}}</td>
                <td><a href="{{url_for('updatebrand', id=brand.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
<!--                <td><a href="{{url_for('deletebrand', id=brand.id)}}" class="btn btn-sm btn-outline-danger">Delete</a></td>-->
                <td><button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{brand.id}}">
                    Delete</button></td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{brand.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger">Are you sure you want to delete the {{brand.name}} brand?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletebrand', id = brand.id)}}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>


            {% endfor %}
            {% else %}
            {% for category in categories %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{category.name}}</td>
                <td><a href="{{url_for('updatecategory', id=category.id)}}" class="btn btn-sm btn-outline-info">Edit</a></td>
<!--                <td><a href="" class="btn btn-sm btn-outline-danger">Delete</a></td>-->
                <td><button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{category.id}}">
                Delete</button></td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel1">{{category.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="text-danger">Are you sure you want to delete the {{category.name}} category?</span>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletecategory', id = category .id)}}" method="POST">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>


            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}